body {
    background-color: white
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

button {
border-radius: .3rem;
background-color:#FFB5A7;
border-style: none;
color: white;
padding: 3px 5px 3px 5px;
margin: .5rem;
font-family: 'Open Sans', sans-serif;
}

button:hover {
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 rgb(160, 113, 104);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

li {
    background-color: rgba(254, 201, 154, 0.6);
    display: flex;
    justify-content: space-between;
    list-style: none;
    list-style-position:outside;margin-bottom: 1rem;
    padding: .7rem;
    border-radius: .5rem;
    align-items: center;
    font-size: 13pt;
    color: rgb(175, 107, 94);
    text-transform: capitalize;
   font-family: 'Open Sans', sans-serif;
}

ul{
    padding: 0px;
}

#menuItems { 
    background-color:rgba(252, 213, 206, 0.25); 
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.middleBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 0rem .5rem .5rem 0rem; */
    padding: 1rem; 
}

.middleBoxH2 {
    color: rgb(175, 107, 94);
    text-align: center;
     font-family: 'Shadows Into Light', cursive;
     font-size: 25pt;
     padding-top: 0px;
}

#formBox {
    background-color:#FCD5CE;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius:.5rem;
    border-bottom-left-radius: .5rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-right: .25rem;
}
#formBoxH2 {
    color:#833d34;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.create-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-group {
margin-bottom: 15px;
color: rgb(175, 107, 94);
}

header {
    margin-bottom: .5rem;
    color:#FEC89A;
     font-family: 'Shadows Into Light', cursive;
     font-size: 25pt;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;

}

.buttonBox{
    display: flex;
    flex-direction: row;
    /* margin-left: 2rem; */
     width: 15rem;
     justify-content: flex-end;

}

@media only screen and (max-width: 1000px) {
    #menuItems { 
        flex-direction: column;
    }

    #formBox {
    border-top-left-radius:.5rem;
    border-bottom-left-radius: 0rem;border-top-right-radius: .5rem;
   padding-bottom: 1rem;
    }

    .middleBox {
    margin-bottom: .5rem;
    justify-content: baseline;
    padding-top: 0px;
    padding-bottom: 0px;
    }

    header {
        font-size: 18pt;
    }

    .middleBoxH2 {
     padding-bottom: 7px;
    }

    #formBoxH2 {
    font-size: 25pt;
    }
