<li>
    {{burger_name}}

    {{#if consumed }} <button data-id="{{id}}" class="change-sleep" data-newsleep="{{consumed}}">
        Order Me Up
    </button>
    {{else}}
    Past Orders
    {{/if}}


</li>